*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 4000px;
}
.header{
    width: 1440px;
    height: 60px;
    display: flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1000; 
    background-color: white;
}
.logo-header{
    width: 310px;
    height: 60px;
}
.opcoes-header{
    width: 880px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcoes-1{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-2{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-3{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-4{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-5{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.pesquisa-login-carrinho{
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lupa{
    width: 26px;
    height: 26px;
    margin-top: 4px;
    margin-right: 30px;
    background-image:url("/img/lupa.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.carrinho{
    width: 26px;
    height: 26px;
    margin-right: 30px;
    background-image:url("/img/carrinho-de-compras.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.login{
    width: 26px;
    height: 26px;
    background-image:url("/img/adicionar-usuario.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.carrosel{
    width: 100vw;
    height: 720px;
    margin-top: 20px;
    background-image: url(/img/2.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.cupom{
    width: 100vw;
    height: 140px;
    margin-top: 40px;
    background-color: #4e4b4b;
}
.titulo-mais-vendidos{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.secao-1{
    width: 100vw;
    height: 460px;
    margin-top: 40px;
}
.card-produtos{
    width: 100vw;
    height: 260px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-1{
    width: 240px;
    height: 260px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-2{
    width: 240px;
    height: 260px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-3{
    width: 240px;
    height: 260px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-4{
    width: 240px;
    height: 260px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-5{
    width: 240px;
    height: 260px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.tipos-produtos{
    width: 100vw;
    height: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.tipo-1{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-2{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-3{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-4{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-5{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.nome-produtos{
    width: 100vw;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.nome-1{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-2{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-3{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-4{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-5{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-produtos{
    width: 100vw;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.preco-1{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-2{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-3{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-4{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-5{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.botoes-produtos{
    width: 100vw;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.botao-1{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-1:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-2{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-2:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-3{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-3:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-4{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-4:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-5{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-5:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}