*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 5400px;
}
.header{
    width: 1440px;
    height: 60px;
    display: flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1000; 
    background-color: white;
}
.logo-header{
    width: 310px;
    height: 60px;
}
.opcoes-header{
    width: 880px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcoes-1{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420g;
    font-style: normal;
    cursor: pointer;
}
.opcoes-2{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-3{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-4{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.opcoes-5{
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.pesquisa-login-carrinho{
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.lupa{
    width: 26px;
    height: 26px;
    margin-top: 4px;
    margin-right: 30px;
    background-image:url("/img/lupa.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.carrinho{
    width: 26px;
    height: 26px;
    margin-right: 30px;
    background-image:url("/img/carrinho-de-compras.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.login{
    width: 26px;
    height: 26px;
    background-image:url("/img/adicionar-usuario.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.carrosel{
    width: 100vw;
    height: 720px;
    margin-top: 20px;
    background-image: url(/img/2.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.cupom{
    width: 100vw;
    height: 140px;
    margin-top: 40px;
    background-color: #4e4b4b;
}
.titulo-mais-vendidos{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.secao-1{
    width: 100vw;
    height: 480px;
    margin-top: 40px;
}
.card-produtos{
    width: 100vw;
    height: 280px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-1{
    width: 240px;
    height: 280px;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-2{
    width: 240px;
    height: 280px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-3{
    width: 240px;
    height: 280px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-4{
    width: 240px;
    height: 280px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.card-5{
    width: 240px;
    height: 280px;
    background-color: brown;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
}
.tipos-produtos{
    width: 100vw;
    height: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.tipo-1{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-2{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-3{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-4{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-5{
    width: 240px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.nome-produtos{
    width: 100vw;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.nome-1{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-2{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-3{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-4{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-5{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-produtos{
    width: 100vw;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.preco-1{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-2{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-3{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-4{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-5{
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.botoes-produtos{
    width: 100vw;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.botao-1{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-1:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-2{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-2:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-3{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-3:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-4{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-4:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-5{
    width: 200px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-5:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.titulo-colecoes{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.card-colecoes{
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}
.card-1-colecoes{
    width: 454px;
    height: 600px;
    background-image: url(/img/Jaqueta\ Preta\ Listrada.jpg);
    background-position: center;
    background-size: cover;
}
.card-2-colecoes{
    width: 454px;
    height: 600px;
    background-image: url(/img/pexels-cottonbro-6800671.jpg);
    background-position: center;
    background-size: cover;
}
.card-3-colecoes{
    width: 454px;
    height: 600px;
    background-image: url(/img/pexels-cottonbro-8541548.jpg);
    background-position: bottom;
    background-size: cover;
}
.titulo-nao-sei{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.secao-2{
    width: 100vw;
    height: 530px;
    margin-top: 40px;
}
.card-produtos-2{
    width: 100vw;
    height: 340px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-6{
    width: 300px;
    height: 340px;
    background-image: url(/img/Crooped-vermelho.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-7{
    width: 300px;
    height: 340px;
    background-image: url(/img/Tenis-branco.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-8{
    width: 300px;
    height: 340px;
    background-image: url(/img/Calça-jeans-coraçao.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-9{
    width: 300px;
    height: 340px;
    background-image: url(/img/Jaqueta-jeans-sem-manga.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-10{
    width: 300px;
    height: 340px;
    background-image: url(/img/Chapeu-tenis.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-11{
    width: 300px;
    height: 340px;
    background-image: url(/img/Tenis-esportivo-branco.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-12{
    width: 300px;
    height: 340px;
    background-image: url(/img/Vestido-azul-longo.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-13{
    width: 300px;
    height: 340px;
    background-image: url(/img/pexels-cottonbro-5740815.jpg);
    background-position: left;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-14{
    width: 300px;
    height: 340px;
    background-image: url(/img/Anel\ Azul.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-15{
    width: 300px;
    height: 340px;
    background-image: url(/img/Bolsa\ de\ Mão.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-16{
    width: 300px;
    height: 340px;
    background-image: url(/img/Colar\ Verde.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-17{
    width: 300px;
    height: 340px;
    background-image: url(/img/Brinco\ Verde.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 15px  rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.tipo-6{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-7{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-8{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.tipo-9{
    width: 300px;
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.nome-6{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-7{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-8{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.nome-9{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-6{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-7{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-8{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.preco-9{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
}
.botoes-produtos-2{
    width: 100vw;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.botao-6{
    width: 260px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-6:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-7{
    width: 260px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-7:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-8{
    width: 260px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-8:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.botao-9{
    width: 260px;
    height: 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.4s ease;
}
.botao-9:hover{
    color: white;
    background-color: #c4c4c4c6;
    transition: 0.4s;
    transform: scale(1.1);
}
.titulo-bazar{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.secao-3{
    width: 100vw;
    height: 620px;
    margin-top: 40px;
}
.card-bazar{
    width: 100vw;
    height: 620px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-bazar-1{
    width: 680px;
    height: 620px;
    background-image: url(/img/pexels-cottonbro-7871157.jpg);
    background-position: center;
    background-size: cover;
}
.card-bazar-2{
    width: 680px;
    height: 620px;
    background-image: url(/img/pexels-cottonbro-7872870.jpg);
    background-position: center;
    background-size: cover;
}
.forma-pagamentos-home{
    width: 100vw;
    height: 280px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forma-pagamentos-2{
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-div-descricao-eclac{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.div-descricao1-eclac{
    width: 148px;
    height: 140px;
    text-align: center;
    background-image: url(/img/Parcelamento.svg);
    background-position: center;
    background-size: cover;
}
.div-descricao2-eclac{
    width: 148px;
    height: 140px;
    background-image: url(/img/Frete-gratis.svg);
    background-position: center;
    background-size: cover;
}
.div-descricao3-eclac{
    width: 148px;
    height: 140px;
    background-image: url(/img/Devolucao.svg);
    background-position: center;
    background-size: cover;
}
.div-descricao4-eclac{
    width: 148px;
    height: 140px;
    background-image: url(/img/Cupom.svg);
    background-position: center;
    background-size: cover;
}
.div-descricao5-eclac{
    width: 148px;
    height: 140px;
    background-image: url(/img/Entrega-rapida.svg);
    background-position: center;
    background-size: cover;
}
.div-descricao6-eclac{
    width: 148px;
    height: 140px;
    background-image: url(/img/Cupom-de-aniversario.svg);
    background-position: center;
    background-size: cover;
}
.container-descricao-eclac{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.descricao-eclac{
    width: 148px;
    height: 24px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.75px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container-descricao2-eclac{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.descricao2-eclac{
    width: 148px;
    height: 60px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.75px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.footer{
    width: 100vw;
    height: 400px;
    margin-top: 40px;
    background-color: #ffffff;
}
.div-footer{
    width: 100vw;
    height: 320px;
    margin-top: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.logo-informacoes-footer{
    width: 280px;
    height: 280px;
    background-color: darksalmon;
}
.informacoes-footer{
    width: 210px;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.titulo-informacoes-footer{
    width: 210px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 3px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.informacoes{
    width: 210px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.categorias-footer{
    width: 210px;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.titulo-categorias-footer{
    width: 210px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 3px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.categorias{
    width: 210px;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.contato-footer{
    width: 280px;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titulo-contato-footer{
    width: 280px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 3px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.email-footer{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.telefone-footer{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 420;
    font-style: normal;
    cursor: pointer;
}
.rede-sociais-footer{
    width: 280px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.facebook{
    width: 30px;
    height: 30px;
    background-image: url(/img/facebook.png);
    background-size: cover;
    background-position: center;
}
.instagram{
    width: 30px;
    height: 30px;
    background-image: url(/img/instagram.png);
    background-size: cover;
    background-position: center;
}
.pinterest{
    width: 30px;
    height: 30px;
    background-image: url(/img/logotipo-do-pinterest.png);
    background-size: cover;
    background-position: center;
}

.donos-site{
    width: 100vw;
    height: 40px;
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.75px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}


